
@{
    ViewBag.Title = "VIPCard";
}

<h2>VIPCard</h2>


@using (Html.BeginForm("Index", "Default", FormMethod.Post))
{
    <button id="BacktoMain" style="margin-top:50px">Back to Main Page</button>
}
